@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400;700&display=swap&subset=cyrillic');

:root {
    --sidebar-bg-color: #f8f9fa;
    --main-bg-color: #ffffff;
    --text-color: #333;
    --link-color: #007bff;
    --border-color: #dee2e6;
}

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}



h1, h2, h3 {
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.language-switcher {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.language-switcher a {
    margin: 0 0.5rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--link-color);
    border-radius: 4px;
    text-decoration: none;
    color: var(--link-color);
}

.language-switcher a.active {
    background-color: var(--link-color);
    color: var(--main-bg-color);
}

