.sidebar {
    background-color: var(--sidebar-bg-color);
    padding: 2rem;
    border-right: 1px solid var(--border-color);
}

.sidebar h1, .sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 0.5rem;
}

